<style>
    td{
        text-indent: 2px;
    }
</style>
<div class="animated fadeIn container-fluid" ng-app1="myApp1" ng-controller="listTenantCtrl" >  
    <div class="col-lg-12">  
        
        
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tenant Template</li>
          </ol>
        </nav> 
        
        <div class="card">  
            <div class="card-header">  
                <div class="h5 card-title" >   
                    List Tenant Template
                    <a href="#!/tenant-template/add">
                        <button style="float:right!important;margin-right: 10px;"  type="button" class="btn btn-primary" >  
                        <i class="fa fa-plus "></i> &nbsp;&nbsp;Add Template</button>  
                    </a>
                </div>  
            </div>  
            <div class="card-block"> 
                <!-- <div class="input-group col-lg-6" style="margin-top: 5px;  margin-bottom:5px;margin-left: -15px;">
                    <input id="prependedInput" class="form-control" size="16" type="text" placeholder="Search..." ng-model="FilterName">   
                </div>  -->
                    <table class="table table-bordered table-sm" >  
                        <thead style="background-color: #f5f5f0">  
                            <tr>  
                                <th width="5%" style="text-align: center">No</th>  
                                <th width="20%" href="#!/tenant-template" ng-click="orderByField='x.identifier'; reverseSort = !reverseSort" style="text-align: center">
                                Code of Templates <span ng-show="orderByField == 'x.identifier'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc "></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc "></i></span></span></th>

                                <th width="10%" href="#!/tenant-template" ng-click="orderByField='x.tenantTypeName'; reverseSort = !reverseSort" style="text-align: center">
                                Type <span ng-show="orderByField == 'x.tenantTypeName'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc "></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc "></i></span></span></th>
                                
                                <th width="20%" href="#!/tenant-template" ng-click="orderByField='x.appName'; reverseSort = !reverseSort" style="text-align: center">
                                App <span ng-show="orderByField == 'x.appName'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc "></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc "></i></span></span></th>

                                <th width="15%" href="#!/tenant-template" ng-click="orderByField='x.reference'; reverseSort = !reverseSort" style="text-align: center">
                                Database Status <span ng-show="orderByField == 'x.reference'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc "></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc "></i></span></span></th>

                                <th width="10%" href="#!/tenant-template" ng-click="orderByField='x.active'; reverseSort = !reverseSort" style="text-align: center">
                                Status <span ng-show="orderByField == 'x.active'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc "></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc "></i></span></span></th>
                                <th width="20%" style="text-align: center">Action</th>  
                            </tr>  
                        </thead>  
                        <tbody>  
                          <tr ng-repeat="x in tenants |orderBy:orderByField:reverseSort | startFrom: currentPage * pageSize | limitTo: pageSize">  
                                <td style="text-align: center">{{$index+ ((currentPage)*pageSize) + 1}}</td>
                                <td>{{x.identifier}}</td>
                                <td>{{x.tenantTypeName}} </td>
                                <td>{{x.appName}}</td>
                                <td><span ng-show="x.status==true"><i class="fa fa-check" style="color: green;"></i>&nbsp;&nbsp;Available</span>
                                    <span ng-show="x.status!=true"><i class="fa fa-close" style="color: red;"></i>&nbsp;&nbsp;Unavailable</span>
                                </td>
                                <td style="text-align: center">
                                    <div class="btn btn-success" style=" border:none; border-radius: 25px; padding: 0px; width: 75px; height: 25px;" ng-show="x.active==true">ACTIVE</div>
                                    <div class="btn btn-danger" style=" border:none; border-radius: 25px; padding: 0px; width: 75px; height: 25px;" ng-show="x.active!=true">INACTIVE</div>

                                </td>
                                <td>
                                    <a href="#!/tenant-template/info?id={{x.id}}">
                                        <button style="color: white" class="btn btn-info">
                                            <i class="fa fa-search"></i> View
                                        </button>
                                    </a> 
                                        <!-- <button class="btn btn-warning">
                                            <i class="fa fa-edit"></i> Edit
                                        </button> -->
                                </td>
                            </tr>
                        </tbody>  
                    </table>  
            </div>
            <div class="card-block" align="center" style="padding: 20px;" ng-hide="numberOfPages()<1">
            <button class="btn btn-sm btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
              <i class="fa fa-chevron-left"></i>
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            
            <button class="btn btn-sm btn-primary" ng-disabled="currentPage >= tenants.length/pageSize-1" ng-click="currentPage=currentPage+1">
              <i class="fa fa-chevron-right"></i>
            </button>
            </div>
        </div>   
        </div>
    </div>
</div>

