<div
  class="container-fluid"
  style="background: #fff; height: 100%"
  ng-app="myApp"
  ng-controller="listTenantCtrlid"
>
  <div class="row"></div>
  <div class="col-md-12">
    <div class="card-block">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#!">Home</a></li>
          <li class="breadcrumb-item">
            <a href="#!/tenant-template">Tenant Template</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ tenants.tenantTypeName }}
          </li>
        </ol>
      </nav>
    </div>
    <div style="text-indent: 10px;padding-top: 15px;">
      <i style="font-size: 26px" class="fa fa-home"
        >Template {{ tenants.appName }} - {{ tenants.tenantTypeName }}</i
      >
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-sm-4">
        <center><img src="src/img/coin.png" alt="image" /></center>
      </div>
      <div class="col-sm-8">
        <div class="card" style="margin-right: 15px;">
          <div class="card-block" style="text-indent: 20px;">
            <div class="row">&nbsp;</div>
            <p style="font-size: 20px;">Template Info</p>
            <div style="border-bottom:1px solid;border-color: lightgrey;"></div>
            <div style="border-bottom:1px solid;border-color: lightgrey;">
              <div class="row">
                <div class="col-sm-4">
                  Template Name
                </div>
                <div class="col-sm-6">
                  {{ tenants.tenantTypeName }}
                </div>
              </div>
            </div>

            <div style="border-bottom:1px solid;border-color: lightgrey;">
              <div class="row">
                <div class="col-sm-4">
                  Code of Template
                </div>
                <div class="col-sm-6">
                  {{ tenants.identifier }}
                </div>
              </div>
            </div>

            <div style="border-bottom:1px solid;border-color: lightgrey;">
              <div class="row">
                <div class="col-sm-4">
                  Type
                </div>
                <div class="col-sm-6">
                  {{ tenants.tenantTypeName }}
                </div>
              </div>
            </div>

            <div style="border-bottom:1px solid;border-color: lightgrey;">
              <div class="row">
                <div class="col-sm-4">
                  Application
                </div>
                <div class="col-sm-6">
                  {{ tenants.appName }}
                </div>
              </div>
            </div>

            <div style="border-bottom:1px solid;border-color: lightgrey;">
              <div class="row">
                <div class="col-sm-4">
                  Status
                </div>
                <div class="col-sm-6">
                  {{ tenants.active }}
                </div>
              </div>
            </div>

            <div>
              <div class="row">
                <div class="col-sm-4">
                  Reference
                </div>
                <div class="col-sm-6">
                  {{ tenants.reference }}
                </div>
              </div>
            </div>
            <div class="row">&nbsp;</div>
          </div>
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
    </div>
  </div>
</div>
