<div class="container-fluid animated fadeIn"  ng-apps="template" ng-controller="createTemplateController" ng-init="form">
    <form name="myform" ng-submit="submit">
        <div class="row" >
            <div class="col-md-12" style="margin-left: 20px; padding-right: 50px">
                
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#!">Home</a></li>
                    <li class="breadcrumb-item"><a href="#!/tenant-template">Tenant Template</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Template</li>
                  </ol>
                </nav>
                
                <div class="card-block" style="margin-bottom:25px;">
                  <h3>Add Template</h3>
                </div>
                <div class="card">
                    <div class="card-header" style="text-indent: 8px">
                        <strong>Template Info</a> </strong><i style="color: red;">(*All fields below are required)</i>
                    </div>
                    <div class="card-block" style="position: relative; text-indent: 10px; top: 10px; padding-left: 20px;">
                       
                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Application</label>
                            <div class="col-sm-6">
                            <select id="selectApp" name="select" class="form-control {{isAppInvalid}}" style="height: auto;" ng-model="appId">
                                <option ng-repeat="x in listApps" value="{{x.id}}">{{x.appName}}</option>
                             </select>                            
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Tenant Type Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {{isNameTypeInvalid}}" id="name" placeholder="Enter tenant name" ng-model="nameType">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Identifier</label>
                            <div class="col-sm-6">
                                <input  ng-pattern="/^([0-9][0-9])$/" name="num" class="form-control {{isIdentifierInvalid}}" id="identifier" placeholder="Enter identifier (2 digit number)" ng-model="identifier"  title="Only number : must 2 digit number 01 to 99">
                                <span ng-show="myform.num.$dirty && myform.num.$error.pattern" style="color: red;font-weight: bold;">
                                 Number pattern not matched..
                            </span>
                            </div>
                             
                        </div>

                        &nbsp;<a style="font-size: 18px;">  Server Connection</a>

                        <div style="border-bottom:1px solid;border-color: lightgrey;margin-right: 50px;margin-left: 10px;">
                        </div>
                        <div class="row">&nbsp;</div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">IP</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {{isIPInvalid}}" id="IP" placeholder="Enter IP server" ng-model="ip">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Port</label>
                            <div class="col-sm-6">
                                <input type="number" min="0" class="form-control {{isPortInvalid}}" id="Port" placeholder="Enter port server" ng-model="port">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Username</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {{isUsernameInvalid}}" id="vat" placeholder="Enter username server" ng-model="username">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Password</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control {{isPasswordInvalid}}" placeholder="Enter the password" id="street" placeholder="Enter password server" ng-model="password">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions" style="height: 100%; padding: 50px;">
                        <center>
                            <a href="#!/tenant-template">
                                <button type="button" id="cancel" class="btn btn-secondary" ><i class="fa fa-close" ng-disabled="btnclicked==true"> Cancel</i></button>
                            </a>
                            <button type="submit" id="create" class="btn btn-primary" ng-click="isFormComplete()" ng-disabled="btnclicked==true"><i class="fa fa-folder" ng-show="btnclicked==false"> Submit</i><i class="fa fa-spin fa-spinner" ng-show="btnclicked==true"></i></button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
