<div class="container-fluid" ng-app='myApp' ng-controller='cpRegistrationCtrl'>
    <div class="col-md-12" style="padding-right: 50px;">
        <div class="card-block">
            
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!">Home</a></li>
                <li class="breadcrumb-item"><a href="#!/customers">Customer</a></li>
                <li class="breadcrumb-item"><a href="#!/customers/info?id={{customerInfo.id}}">{{customerInfo.name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Contact Person</li>
              </ol>
            </nav>
        </div>
        
        <div class="card-block">
            <h3>{{customerInfo.name}} | Add New Contact Person</h3>
        </div>
        <div>
        <div class="row">&nbsp;</div>
            <form name="registrationForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="text-indent: 8px">
                                <strong>Contact Person Info</strong><i style="color: red;"> (*All Fields below are required)</i>
                            </div>
                            <div class="card-block" style="position: relative; text-indent: 29px; top: 10px" >

                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label" for="name">CP Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="name" ng-model="registrationForm.cpname"
                                            class="form-control {{isCPNameInvalid}}" placeholder="Enter CP's name"> 
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label" for="phone">CP Phone Number</label>
                                    <div class="col-sm-6">
                                        <input type="tel" pattern="\d{9,15}" title="Only number : minimum 9 digits, maximum 15!" ng-model="registrationForm.cpphone"
                                            placeholder="Enter CP's phone number"
                                            id="phone" name="telephone"
                                            class="form-control {{isCPPhoneInvalid}}" placeholder="Enter CP's phone number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 form-control-label" for="email">CP Email</label>
                                    <div class="col-sm-6">
                                        <input type="email" ng-model="registrationForm.cpemail" id="email"
                                            class="form-control {{isCPEmailInvalid}}" placeholder="Enter CP's email">
                                    </div>
                                </div>
                               
                            </div>
                            <div class="form-actions" style="height: 100%; padding: 50px;">
                                <center>
                                    <a href="#!/customers/info?id={{cid}}"><button type="button" id="cancel" class="btn btn-default" > <i class="fa fa-close"> Cancel</i></button></a>
                                    <button type="submit" id="create" class="btn btn-primary"
                                        ng-click="isFormComplete()" ng-disabled="btnclicked==true"> <i class="fa fa-folder" ng-show="btnclicked==false"> Submit</i><i class="fa fa-spin fa-spinner" ng-show="btnclicked==true"></i></button>
                                </center>
                            </div>
                        </div>
                        
                    </div>
                </div>    
            </form>
        </div>
    </div>
</div>