<!DOCTYPE html>
<html>
<body>
  <div class="col-md-12">
        <div class="card" ng-app="myApp" ng-controller="TestCtrl as $test">
          <div class="card-header">
            <b>Transaction Past Trend</b> {{ selectedValue }}
          </div>
          <center>
            <img
              ng-show="loading"
              src="src/img/loading.svg"
              style="width:10%; height:10%;"
              alt="image"
            />
          </center>
          <!-- Chart div -->
          <div id="test" style="width:100%; height:100%;"></div>
          <!-- End chart div -->
          <div 
          ng-controller="insightCtrl"  
          ng-init="init('transaction')"
          class="col-md-12">
                  <div class="row" style="padding: 2% 2% 2% 2%;">
                        <form class="form-inline">
                            <div class="form-group mr-2">
                              <label for="date_start">Date Start:</label>
                              <input type="date" ng-model="dateStart" class="form-control" id="date_start">
                            </div>
                            <div class="form-group mr-2">
                              <label for="date_end">Date End:</label>
                              <input type="date" ng-model="dateEnd" class="form-control" id="date_end">
                            </div>
                              <div class="form-group mr-2">
                                  <label for="sel1">Select Remarks:</label>
                                  <select
                                  ng-hide="loading"
                                  class="form-control"
                                  ng-model="remarkName"
                                  
                                >
                                  <option ng-repeat="Remark in remarksList" value="{{ Remark }}">{{
                                      Remark
                                  }}</option>
                                </select>
                                </div>
                            <button class="btn btn-primary" ng-click="getInsight()">Generate Insight</button>
                        </div>
                      </form> 
                         <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="width:45vw;">
      <div class="modal-header">
        <h3 class="modal-title">Insight for type: <b>{{ remarkName }}</b></h3>
      </div>
      <div class="modal-body">
        <h4> Type {{ remarkName }}  on observed date {{ dateStartParse }} until {{ dateEndParse }} shows ratio at <b>{{ percentage }}%</b></h4>
        <ul>
          <li>Maximum Value: {{ maxVal }}</li>
          <li>Minimum Value: {{ minVal }}</li>
          <li>Mean: {{ mean }}</li>
          <li>Median: {{ median }}</li>
        </ul>
                  <!-- Chart div -->
                  <div id="insightGraph" style="width:40vw; height:50vh;"></div>
                  <!-- End chart div -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
              </div>
          <select
            ng-hide="loading"
            ng-model="selectedValue"
            class="form-control"
          >
            <option ng-repeat="Year in YearList" value="{{ Year }}">{{
              Year
            }}</option>
          </select>
       
        </div>
        
        <!-- <div class="card" ng-app="myApp" ng-controller="LineCtrl as $line">
         
          <canvas
            id="line"
            class="chart chart-line"
            chart-data="data"
            chart-labels="labels"
            chart-series="series"
            chart-options="options"
            chart-dataset-override="datasetOverride"
            chart-click="onClick"
          >
          </canvas> -->
      </div>
    </div>
            <br>
          <div class="card-footer">
            <div class="row text-center">
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">91</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp. {{sembilansatuCount}}</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">32</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp.  {{tigaduaCount}}</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">31</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp. {{tigasatuCount}}</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">30</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp. {{tigapuluhCount}}</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">90</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp. {{sembilanpuluhCount}}</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">92</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp. {{sembilanduaCount}}</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Other</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp. {{otherCount}}</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">82</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp. {{delapanduaCount}}</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">42</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp. {{empatduaCount}}</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">33</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp. {{tigatigaCount}}</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">20</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp. {{duapuluhCount}}</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">41</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp. {{empatsatuCount}}</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">40</div>
                <div ng-app="myApp" ng-controller="NowTransaksiCtrl">
                  <strong>Rp. {{empatpuluhCount}}</strong>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
</body>
</html>
