<!DOCTYPE html>
<html>
  <head>
    <style>
      div.a {
        text-align: center;
        position: relative;
        top: 50%;
      }
    </style>
  </head>

  <body>
    <div class="row" style="padding: 5% 5% 5% 5%;">
      <div class="col-12">
        <h1>Past Trend Account <b>per Tenant</b></h1>
      </div>

      <div class="col-md-12">
        <div class="card" ng-app="myApp" ng-controller="TenantAccountCtrl as $account" >
            <div class="card-header"><b>Past Trend Account</b> {{ selectedValue }}</div>
            <center><img ng-show="loading" src="src/img/loading.svg" style="width:10%; height:10%;" alt="image"></center> 
          <div id="account" style="width:100%; height:100%;"></div>
                    <div 
          ng-controller="insightCtrl"  
          ng-init="init('customer')"
          class="col-md-12">
                  <div class="row" style="padding: 2% 2% 2% 2%;">
                        <form class="form-inline">
                            <div class="form-group mr-2">
                              <label for="date_start">Date Start:</label>
                              <input type="date" ng-model="dateStart" class="form-control" id="date_start">
                            </div>
                            <div class="form-group mr-2">
                              <label for="date_end">Date End:</label>
                              <input type="date" ng-model="dateEnd" class="form-control" id="date_end">
                            </div>
                              <div class="form-group mr-2">
                                  <label for="sel1">Select Remarks:</label>
                                  <select
                                  ng-hide="loading"
                                  class="form-control"
                                  ng-model="remarkName"
                                  
                                >
                                  <option ng-repeat="Remark in remarksList" value="{{ Remark }}">{{
                                      Remark
                                  }}</option>
                                </select>
                                </div>
                            <button class="btn btn-primary" ng-click="getInsight()">Generate Insight</button>
                        </div>
                      </form> 
                         <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="width:45vw;">
      <div class="modal-header">
        <h3 class="modal-title">Insight for type: <b>{{ remarkName }}</b></h3>
      </div>
      <div class="modal-body">
        <h4> Type {{ remarkName }}  on observed date {{ dateStartParse }} until {{ dateEndParse }} shows ratio at <b>{{ percentage }}%</b></h4>
        <ul>
          <li>Maximum Value: {{ maxVal }}</li>
          <li>Minimum Value: {{ minVal }}</li>
          <li>Mean: {{ mean }}</li>
          <li>Median: {{ median }}</li>
        </ul>
                  <!-- Chart div -->
                  <div id="insightGraph" style="width:40vw; height:50vh;"></div>
                  <!-- End chart div -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
              </div>
          <select ng-hide="loading" ng-model="selectedValue" class="form-control">
              <option ng-repeat="Year in YearList" value="{{ Year }}">{{
                Year
              }}</option>
            </select>
        </div>
        <!-- <div class="card" ng-app="myApp" ng-controller="LineCtrl as $line">
         
          <canvas
            id="line"
            class="chart chart-line"
            chart-data="data"
            chart-labels="labels"
            chart-series="series"
            chart-options="options"
            chart-dataset-override="datasetOverride"
            chart-click="onClick"
          >
          </canvas> -->
        </div> 
      </div>
      <div class="card-footer">
        <div class="row text-center">
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Total Account</div>
            <div ng-app="myApp" ng-controller="AccountCtrl">
              <strong>{{activeCount}}</strong>
            </div>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
<!--           <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Churn Account</div>
            <strong>22.123 Users (80%)</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
      <!-- <div class="col-md-6">
        <div class="card" ng-app="myApp" ng-controller="BarCtrl as $bar">
          <div class="card-header"><b>Transaksi</b> {{ selectedValue }}</div>
          <canvas
            id="bar"
            class="chart chart-bar"
            chart-data="data"
            chart-labels="labels"
            
          >
          </canvas>
          <select ng-model="selectedValue" class="form-control">
            <option ng-repeat="Year in YearList" value="{{ Year }}">{{
              Year
            }}</option>
            <option value=""> All Tenants </option>
          </select>
        </div>
      </div> -->
    </div>
  </body>
</html>
