<!DOCTYPE html>
<html>
  <head>
    <style>
      div.a {
        text-align: center;
        position: relative;
        top: 50%;
      }
    </style>
  </head>

  <body>
      <div class="container">
          <div class="page-header">
              <!-- <h1>Welcome to Teman Aristi<span class="pull-right label label-default">:)</span></h1> -->
              <h1>Welcome to Teman Aristi</h1>
          </div>
          <div class="row">
            <div class="col-md-12">
                  <div class="panel with-nav-tabs panel-default">
                      <div class="panel-heading">
                          <ul class="nav nav-tabs">
                            <li><a href="#allTransaction" data-toggle="tab">All Transaction</a></li>
                            <li><a href="#allDeposit" data-toggle="tab">All Deposit</a></li>
                              <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                              </li> -->
                            </ul>                            
                      </div>
                      <div class="panel-body" >
                          <div  class="tab-content" >
                              <!-- <div class="tab-pane fade in active" id="tab1default">Default 1</div>
                              <div class="tab-pane fade" id="tab2default">Default 2</div>
                              <div class="tab-pane fade" id="tab3default">Default 3</div>
                              <div class="tab-pane fade" id="tab4default">Default 4</div>
                              <div class="tab-pane fade" id="tab5default">Default 5</div> -->
                              <!-- <div class="col-md-12"> -->
                              <div class="tab-pane active" id="allTransaction">
                                  <div class="card" ng-app="myApp" ng-controller="AllTransactionCtrl as $transaction" >
                                      <div class="card-header"><b>All Transaction</b> {{ selectedValue }}</div>
                                      <center><img ng-show="loading" src="src/img/loading.svg" style="width:10%; height:10%;" alt="image"></center> 
                                      <div id="transaction" style="width:100%; height:100%;"></div>
                                      <!-- <select ng-hide="loading" ng-model="selectedValue" class="form-control">
                                        <option ng-repeat="Year in YearList" value="{{ Year }}">{{Year}}</option>
                                        <option value=""> All Tenants </option>
                                      </select> -->
                                  </div>
                              </div>
                              <div class="tab-pane " id="allDeposit">
                                  <div class="card" ng-app="myApp" ng-controller="AllDepositCtrl as $deposit" >
                                      <div class="card-header"><b>All Deposit</b> {{ selectedValue }}</div>
                                      <center><img ng-show="loading" src="src/img/loading.svg" style="width:10%; height:10%;" alt="image"></center> 
                                    <div id="deposit" style="width:100%; height:100%;"></div>
                                    <!-- <select ng-hide="loading" ng-model="selectedValue" class="form-control">
                                        <option ng-repeat="Year in YearList" value="{{ Year }}">{{Year}}</option>
                                        <option value=""> All Tenants </option>
                                      </select> -->
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
              </div>
        </div>
      </div>
  </body>
</html>
