<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="h5 card-title" style="margin-bottom: 0">Registered Applications</div>
        </div>
        <div class="card-block" style="padding-bottom: 0">
          <div class="row" ng-app="application" ng-controller="listAppCtrl">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Application</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in listApp">
                  <td>{{$index + 1}}</td>
                  <td>{{data.appName}}</td>
                  <td>
                  
                    <a ui-sref="app.master-parameter.tenant-template-on-app({appId: data.id})">
                        <button type="button" class="btn btn-sm btn-primary">
                            <i class="fa fa-list-alt"></i> All Templates
                        </button>
                    </a>
                    <a ui-sref="app.master-parameter.customers({appId: data.id})">
                        <button type="button" class="btn btn-sm btn-primary">
                            <i class="fa fa-bank"></i> All Customers
                        </button>
                    </a>
                  </td>
                </tr>
                    <!-- <a ui-sref="app.master-parameter.tenant-template-on-app"> -->
                </tbody>
              </table>
          </div>
        </div>
    </div>

</div>
