<div class="container-fluid animated fadeIn"  ng-app="app" ng-controller="AddAppCTRL">  
    <form name="myform" ng-submit="submit">
        <div class="row">
            <div class="col-md-12"  style="margin-left: 20px; padding-right: 50px;">
                
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#!">Home</a></li>
                    <li class="breadcrumb-item"><a href="#!/timezone">Timezone</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Timezone</li>
                  </ol>
                </nav>
                
                 
                <div class="card-block" style="margin-bottom:25px;">
                  <h3>Add Timezone</h3>
                </div>
                <div class="card" >
                    <div class="card-header" >
                        <strong>Timezone Info</strong> <i style="color: red;">(*All fields below are required)</i>
                    </div>
                    <div class="card-block" style="position: relative; margin: 10px; text-indent: 10px; top: 10px" >

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Country Code <i style="color: red;">*</i></label></label>
                            <div class="col-sm-6">
                                <input type="text" name="code" ng-pattern="/^([A-Z][A-Z])$/" class="form-control {{isCodeValid}}" ng-model="timezoneCode"  placeholder="Input Timezone Code (Format Two Capital Letters Ex: ID, AS, AG)">
                                 <span ng-show="myform.code.$dirty && myform.code.$error.pattern" style="color: red;font-weight: bold;">
                                 Code pattern not matched..
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label" for="name">Timezone Name <i style="color: red;">*</i></label></label>
                            <div class="col-sm-6">
                                <input type="text"class="form-control {{isNameValid}}" ng-model="timezoneName" placeholder="Input Timezone Name">
                            </div>
                        </div>

                        <div class="form-group row" >
                            <label class="col-sm-5 form-control-label">Timezone Info Preview</label>
                            <div class="col-sm-6">
                              <label style="margin-left: -15px;" class="form-control-label">{{timezoneCode}} - {{timezoneName}}</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Comment</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {{isCommentValid}}" ng-model="comment" placeholder="Input Your Comment (Not Required Could Be Empty)" >
                            </div>
                        </div>

                        <div class="form-actions" style="height: 100%; padding: 50px;">
                            <center>
                                <a href="#!/timezone">
                                <button type="button" id="cancel" class="btn btn-secondary" ><i class="fa fa-close"> Cancel</i></button>
                                </a>
                                <button type="submit" id="create" class="btn btn-primary" ng-click="validation()" ng-disabled="btnclicked==true"><i class=" fa fa-folder" ng-show="btnclicked==false"> Submit</i><i class="fa fa-spin fa-spinner" ng-show="btnclicked==true"> </i></button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
