<div class="container-fluid animated fadeIn" style="height: 100%" ng-app='myApp' ng-controller='listAppCtrls'>
	<div class="col-md-12" style="padding-right: 50px;">
		<div class="card-block">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!">Home</a></li>
                <li class="breadcrumb-item"><a href="#!/customers">Customer</a></li>
                <li class="breadcrumb-item"><a href="#!/customers/info?id={{customerInfo.id}}">{{customerInfo.name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Subscription</li>
              </ol>
            </nav>
        </div>
		
		<div class="card-block">
			<h3>{{customerInfo.name}} | Add New Subscription</h3>
		</div>
		
		<div class="row" >
			<form action="add-new-subscription" method="post" name="form" ng-model="form"
				enctype="multipart/form-data" class="form-horizontal "></form>

			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<strong>Subscription</strong>
					</div>
					<div class="card-block" style="margin: 15px;">
						<div class="form-group row">
							<label class="col-md-3 form-control-label" for="select">Application</label>
							<div class="col-md-9">
								<select id="selectApp" name="form.appVal" class="form-control {{isAppInvalid}}"
									size="1" form="add-new-subscription" ng-model="form.appVal"
									ng-change="setListTypes()">
									<option ng-repeat="x in listApps" value="{{x.id}}">{{x.appName}}</option>
								</select>

							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 form-control-label" for="select">Type</label>
							<div class="col-md-9">
								<select id="selectType" name="form.selectType" class="form-control {{isTypeInvalid}}"
									size="1" form="add-new-subscription" ng-model="form.typeVal">
									<!-- these option will be changed with the value from database query
									and changed depends on the selected application -->
									<option ng-repeat="x in listTypes" value="{{x.id}}">{{x.tenantTypeName}}</option>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-3 form-control-label" for="select">Package</label>
							<div class="col-md-9">
								<select id="selectType" name="form.selectPackage" class="form-control {{isPackageInvalid}}"
									size="1" form="add-new-subscription" ng-model="form.typePackage">
									<!-- these option will be changed with the value from database query
									and changed depends on the selected application -->
									<option ng-repeat="x in listPackages" value="{{x.id}}">{{x.packageName}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<strong>Database Information</strong>
					</div>
					<div class="card-block" style="margin: 15px;">
						<div class="form-group row">
							<label class="col-md-3 form-control-label" for="ip-input">IP
								Server</label>
							<div class="col-md-9">
								<input type="text" id="text-input" name="form.inputIp"
									class="form-control {{isIPInvalid}}" ng-model="form.inputIp"
									placeholder="IP Format: [xxx].[xxx].[xxx].[xxx]"> <span
									class="help-block" form="add-new-subscription">Please
									enter IP location for new database</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 form-control-label" for="port-input">Port</label>
							<div class="col-md-9">
								<input type="number" id="port-input" name="form.inputPort"
								ng-model="form.inputPort"
									class="form-control {{isPortInvalid}}"> <span
									class="help-block" form="add-new-subscription">Please
									enter server port</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 form-control-label" for="username-input">Username</label>
							<div class="col-md-9">
								<input type="text" id="text-input" name="form.inputUsername" ng-model="form.inputUsername"
									class="form-control {{isUserInvalid}}" placeholder="Enter username" required=""> <span
									class="help-block" form="add-new-subscription">Please
									enter username for new database</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 form-control-label" for="password-input">Password</label>
							<div class="col-md-9">
								<input type="password" id="password-input" name="form.inputPassword"
								ng-model="form.inputPassword"
									class="form-control {{isPassInvalid}}" placeholder="Enter password"> <span
									class="help-block" form="add-new-subscription">Please
									enter database password</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<strong>Usage Limit</strong>
					</div>
					<div class="card-block" style="margin: 15px;">
						<div class="form-group row" ng-repeat="x in listUsageParameters">
							<label class="col-md-3 form-control-label" for="{{x.id}}">{{x.parameter}}</label>
							<div class="col-md-9">
								<input type="number" id="up{{x.id}}" name="form.{{x.id}}" class="form-control" form="add-new-subscription" ><span
									class="help-block">Enter number of maximum
									{{x.parameter}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<strong>Contract Information</strong>
					</div>
					<div class="card-block" style="margin: 15px;">
						<div class="form-group row">
							<label class="col-md-3 form-control-label" for="payment-due-date">Payment Due Date</label>
							<div class="col-md-9">
								<input type="number" min=1 max=31 ng-model="form.paymentDueDate" name="payment-due-date" class="form-control {{isPDDInvalid}}" form="add-new-subscription"><span
									class="help-block">Enter payment due date</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 form-control-label" for="payment-period">Payment Period</label>
							<div class="col-md-9">
								<input type="number" ng-model="form.paymentPeriod" name="payment-period" class="form-control {{isPaymentInvalid}}" form="add-new-subscription"><span
									class="help-block">Enter payment period duration</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 form-control-label" for="contract-date-start">Date of Contract</label>
							<div class="col-md-9">
								<input type="date" ng-model="form.contractDateStart" name="contract-date-start" class="form-control {{isDateInvalid}}" form="add-new-subscription"><span
									class="help-block">Enter date of contract</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 form-control-label" for="contract-valid-for">Length of Contract</label>
							<div class="col-md-9">
								<input type="number" ng-model="form.contractValidFor" name="contract-valid-for" class="form-control {{isLengthInvalid}}" form="add-new-subscription"><span
									class="help-block">Enter length of contract in term of year</span>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-footer">
						<div class="pull-right">
							<!-- <button class="btn btn-sm btn-primary" 
								ui-sref="app.registration.success">
								<i class="fa fa-dot-circle-o"></i> Submit
							</button> -->
							<a href="#!/customers/info?id={{customerInfo.id}}"><button type="button" id="cancel" class="btn btn-default" > <i class="fa fa-close"> Cancel</i></button></a>

							<button type="submit" id="create" class="btn btn-primary" ng-click="validation()">
								<i class="fa fa-folder"></i> Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
