<div class="container-fluid animated fadeIn" ng-app="myApp" ng-controller="subscriptionInfoCtrl">
  <div class="col-md-12" style="padding-right: : 50px;" >
    <div class="card-block">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#!">Home</a></li>
          <li class="breadcrumb-item"><a href="#!/customers">Customer</a></li>
          <li class="breadcrumb-item"><a href="#!/customers/info?id={{customerInfo.id}}">{{customerInfo.name}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Subscription - {{subscriptionInfo.id}}</li>
        </ol>
      </nav>
    </div>
    <div class="card-block">
      <h3>{{customerInfo.name}} | Subscription ID - {{subscriptionInfo.id}}</h3>
    </div>
    
    <div >
      <div class="row" ng-app='myApp' ng-controller='listAppCtrls'>
        <form action="add-new-subscription" method="post" name="form" ng-model="form"
          enctype="multipart/form-data" class="form-horizontal "></form>

        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Subscription</strong>
            </div>
            <div class="card-block" style="margin: 15px;">
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="select">Application</label>
                <div class="col-md-9">
                    <input class="form-control" value="{{subscriptionInfo.appName}}" readonly></input>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="select">Type</label>
                <div class="col-md-9">
                  <input class="form-control" value="{{subscriptionInfo.tenantTypeName}}" readonly></input>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="select">Package</label>
                <div class="col-md-9">
                  <input class="form-control" value="{{subscriptionInfo.packageName}}" readonly></input>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <strong>Database Information</strong>
            </div>
            <div class="card-block" style="margin: 15px;">
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="ip-input">IP
                  Server</label>
                <div class="col-md-9">
                  <input class="form-control" value="" readonly></input>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="port-input">Port</label>
                <div class="col-md-9">
                  <input class="form-control" value="" readonly></input>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="username-input">Username</label>
                <div class="col-md-9">
                  <input class="form-control" value="" readonly></input>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
        
          <div class="card">
            <div class="card-header">
              <strong>Usage Limit</strong>
            </div>
            <div class="card-block" style="margin: 15px;" ng-repeat="x in usageinfo">
               <div class="form-group row">
                <label class="col-md-3 form-control-label" for="port-input">{{x.param}}</label>
                <div class="col-md-9">
                  <input class="form-control" value="{{x.limitAmount}}" readonly></input>
                </div>
              </div>
            </div>

            </div>
          <div class="card">
            <div class="card-header">
              <strong>Contract Information</strong>
            </div>
            <div class="card-block" style="margin: 15px;">
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="payment-due-date">Payment Due Date</label>
                <div class="col-md-9">
                  <input class="form-control" value="{{subscriptionInfo.paymentDueDate}}" readonly></input>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="payment-period">Payment Period</label>
                <div class="col-md-9">
                  <input class="form-control" value="{{subscriptionInfo.paymentPeriodDuration}}" readonly></input>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="contract-date-start">Date of Contract</label>
                <div class="col-md-9">
                  <input class="form-control" value="{{subscriptionInfo.contractDateStart}}" readonly></input>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="contract-valid-for">Length of Contract</label>
                <div class="col-md-9">
                  <input class="form-control" value="{{subscriptionInfo.contractDateFinish}}" readonly></input>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
