<!-- <script src="/js/controller/CustomerController.js"></script> -->
<div class="container-fluid animated fadeIn" ng-app="myApp" ng-controller="listCustomerCtrl">
    
      <div class="col-lg-12">  
        <!-- <div class="card">
          <div class="card-block">
            <h2><strong>All Customers</strong></h2>
          </div>
        </div> -->
        <!-- <div class="card-block" style="margin-bottom:25px; margin-top: 25px;">
          <h3>List Customers</h3><hr>
        </div> -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Customer</li>
          </ol>
        </nav>
        <div class="card">  
          
          <div class="card-header">  
            <div class="h5 card-title">
              List Customer
              <a href="#!/customers/registration">
                <button style="float:right!important; margin-right: 10px;" type="button" class="btn btn-primary" >  
                <i class="fa fa-plus "></i> &nbsp;&nbsp;Add Customer</button>  
              </a>

            </div>  
          </div>  
          <!-- <div class="input-group col-lg-6" style="margin-top: 5px;  margin-bottom:5px;">
              <input id="prependedInput" class="form-control" size="16" type="text" placeholder="Search..." ng-model="FilterName">
                
          </div> -->
          <div class="card-block" >  
            <table class="table table-bordered table-striped table-sm" id="tabletest">  
              <thead style="background-color: #f5f5f0">  
                <tr>  
                  <th width="5%" style="text-align: center">No.</th>  
                  <th ng-click="myOrderBy='name'; reverseSort = !reverseSort" width="40%" style="text-align: center">Name<span ng-show="myOrderBy=='name'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc "></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc "></i></span></span></th> 
                  <th ng-click="myOrderBy='institutionType.institutionName'; reverseSort = !reverseSort" width="30%" style="text-align: center">Type<span ng-show="myOrderBy=='institutionType.institutionName'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc "></i></span><span ng-show="reverseSort" width="25%"><i class="fa fa-sort-desc "></i></span></span></th> 
                  <th style="text-align: center">Action</th>  
                </tr>  
              </thead>  
              <tbody>  
                <tr ng-repeat="x in customers | orderBy:myOrderBy:reverseSort | limitTo: pageSize">  
                  <td style="text-align: center">{{$index+ ((currentPage)*pageSize) + 1}}</td>  
                  <td>{{x.name}}</td> 
                  <td>{{x.institutionType.institutionName}}</td> 
                  <td> 
                    <a href="#!customers/info?id={{x.id}}">  
                      <button style="color: white" type="button" class="btn btn-info" >  
                        <i class="fa fa-search" ></i> View  
                      </button>  
                    </a>   
                    <!-- <a href="#">  
                      <button type="button" class="btn btn-sm btn-primary">  
                          <i class="fa fa-cogs"></i> Manage Subscription  
                      </button>  
                    </a>    -->
                    <a ui-sref-active="active" href="#!customers/edit?id={{x.id}}">
                      <button type="button" class="btn btn-warning" >  
                        <i class="fa fa-edit"></i> Edit  
                      </button>  
                    </a>   
                  </td>   
                </tr>  
              </tbody>  
            </table>  
          </div>  
          <div class="card-block" align="center" style="padding: 20px;" ng-hide="numberOfPages()<1">
            <button class="btn btn-sm btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1;previousPage(currentPage)">
                <i class="fa fa-chevron-left"></i> 
            </button>
            Page {{currentPage+1}}
            <button class="btn btn-sm btn-primary" ng-disabled="nextButton" ng-click="currentPage=currentPage+1;nextPage(currentPage)">
               <i class="fa fa-chevron-right"></i>
            </button>
          </div>
        </div>  
      </div>  
        <!--/.col-->   
</div>

