
	<div class="container-fluid animated fadeIn" ng-app="myApp" ng-controller="customerInfoCtrl">
		<div class=" col-md-12" style="padding-right: 50px;">
			<nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!">Home</a></li>
                <li class="breadcrumb-item"><a href="#!/customers">Customer</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{customerInfo.name}}</li>
              </ol>
            </nav>
			
			<link rel="stylesheet"
				href="https://fonts.googleapis.com/css?family=Tangerine" />
			<div class="go-font">
				<h1><i class="fa fa-home"></i> {{customerInfo.name}}</h1><hr>
			</div>
			<div class="row" >
				<div class="col-md-4" style=" ">
					<center><img src="/img/coin.png" alt="Coin" class="img-circle"></center>
				</div>
				<div class="col-md-8">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-align-justify"></i> Customer Info
						</div>
						<div class="card-block">
							<table class="table table-user-information">
								<tbody>
									<tr>
										<td>Name</td>
										<td>{{customerInfo.name}}</td>
									</tr>
									<tr>
										<td>Institution Type</td>
										<td>{{customerInfo.institutionType.institutionName}}</td>
									</tr>
									<tr>
										<td>Address</td>
										<td>{{customerInfo.address}}</td>
									</tr>
									<tr>
										<td>Date of Establishment</td>
										<td>{{customerInfo.dateOfEstablishment}}</td>
									</tr>
									<tr>
										<td>Notary Company Act Number</td>
										<td>{{customerInfo.notaryCompanyActNumber}}</td>
									</tr>
									<tr>
										<td>Tax Payer Number</td>
										<td>{{customerInfo.taxpayerNumber}}</td>
									</tr>
									<tr>
										<td>Email</td>
										<td>{{customerInfo.email}}</td>
									</tr>
									<tr>
										<td>Phone</td>
										<td>{{customerInfo.phone}}</td>
									</tr>
									<!-- <tr>
										<td>Fax</td>
										<td>{{customerInfo.fax}}</td>
									</tr> -->
									<tr>
										<td>Bank Account Number</td>
										<td>{{customerInfo.bankAccountNumber}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-align-justify"></i> Contact Person
							<a href="#!/contact/add?CustomerId={{customerInfo.id}}">
	                        	<button style="float:right!important"  type="button" class="btn btn-primary" >  
	                        	<i class="fa fa-plus "></i> &nbsp;&nbsp;Add Contact Person</button>  
	                    	</a>
						</div>
						<div class="card-block">
							<table class="table table-bordered table-striped table-sm">
								<thead>
									<tr>
										<th width="5%" style="text-align: center">No</th>
										<th width="30%" style="text-align: center">Name</th>
										<th width="30%" style="text-align: center">Phone</th>
										<th width="30%" style="text-align: center">Email</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="x in customerInfo.customerCpList">
										<td style="text-align: center">{{ $index + 1 }}</td>
										<td>{{x.cpName}}</td>
										<td>{{x.cpPhone}}</td>
										<td>{{x.cpEmail}}</td>
										
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-align-justify"></i>Subscriptions
							<a href="#!/subscription/add?id={{customerInfo.id}}">
	                        	<button style="float:right!important"  type="button" class="btn btn-primary" >  
	                        	<i class="fa fa-plus "></i> &nbsp;&nbsp;Add Subscription</button>  
	                    	</a>
						</div>
						<div class="card-block">
							<table class="table table-bordered table-striped table-sm">
								<thead>
									<tr>
										<th width="5%" style="text-align: center">No</th>
										<th width="10%" style="text-align: center">Application</th>
										<th width="10%" style="text-align: center">Type</th>
										<th width="15%" style="text-align: center">Package</th>
										<th width="15%" style="text-align: center">Payment Due Date</th>
										<th width="15%" style="text-align: center">Contract Start Date</th>
										<th width="15%" style="text-align: center">Contract Finish Date</th>
										<th width="15%" style="text-align: center">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="x in customerInfo.subscriptionList">
										<td style="text-align: center">{{ $index + 1 }}</td>
										<td>{{x.appName}}</td>
										<td>{{x.tenantTypeName}}</td>
										<td>{{x.packageName}}</td>
										<td>{{x.paymentDueDate}}</td>
										<td>{{x.contractDateStart}}</td>
										<td>{{x.contractDateFinish}}</td>
										<td>
											<a href="#!/subscription/info?subId={{x.id}}&cid={{customerInfo.id}}">
												<button class="btn btn-sm btn-info"  float="left">
													<i class="fa fa-search"></i> Detail
												</button> 
											</a>
											<!-- <a href="#">
												<button class="btn btn-sm btn-warning"
													href="#"
													float="left" disabled="">
													<i class="fa fa-edit"></i> Update
												</button> 
											</a> -->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>