
<div class="container-fluid" ng-app="myApp" ng-controller="registrationCtrl">
    <form name="registrationForm">
        <div class="row" >
            
            <div class="col-md-12" style="margin-left: 20px; padding-right: 50px;">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#!">Home</a></li>
                    <li class="breadcrumb-item"><a href="#!/customers">Customer</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Customer</li>
                  </ol>
                </nav>
                
                <div class="card-block" style="margin-bottom:25px;">
                    <h3>Add Customer</h3>
                </div>
                
                <div class="card">
                    <div class="card-header" style="text-indent: 8px">
                        <strong>Customer Info </strong><i style="color: red;">(*All fields below are required)</i>
                    </div>
                    <div class="card-block" style="position: relative; text-indent: 29px; top: 10px" >
                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Nama Institusi (<i>Name</i>)</label>
                            <div class="col-sm-6">
                                <input type="text" id="name" ng-model="registrationForm.name"
                                    class="form-control {{isNameInvalid}}" placeholder="Enter institution's name"> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Alamat Institusi (<i>Address</i>)</label>
                            <div class="col-sm-6">
                                <input type="text" id="address"
                                    ng-model="registrationForm.address"
                                    class="form-control {{isAddressInvalid}}"
                                    placeholder="Enter institution's address">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">No. Telp. (<i>Phone Number</i>)</label>
                            <div class="col-sm-6">
                                <input type="tel" pattern="\d{9,15}" ng-maxlength="15" title="Only number : minimum 9 digits, maximum 15!" ng-model="registrationForm.phone"
                                    placeholder="Enter customer's phone number, max 15 digits"
                                    id="phone" name="telephone"
                                    class="form-control {{isPhoneInvalid}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Alamat Email Institusi (<i>Email</i>)</label>
                            <div class="col-sm-6">
                                <input type="email" ng-model="registrationForm.email" id="email"
                                    class="form-control {{isEmailInvalid}}" placeholder="Enter institution's email">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">No. NPWP (<i>Tax
                                Payer Number</i>)</label>
                            <div class="col-sm-6">
                                <input type="text" ng-maxlength="20" pattern="\d{15,20}" title="Only number : minimum 15 digits, maximum 20!" ng-model="registrationForm.taxpayer"
                                    id="taxpayer_number" class="form-control {{isTaxPayerInvalid}}"
                                    placeholder="Enter institution's tax payer number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">No. Akta Pendirian (<i>Notary Company Act Number</i>)</label>
                            <div class="col-sm-6">
                                <input type="text" ng-maxlength="25" pattern="\d{0,25}" title="Only number : maximum 25!" ng-model="registrationForm.notary"
                                    id="taxpayer_number" class="form-control {{isNotaryInvalid}}"
                                    placeholder="Enter institution's notary company act number">
                            </div>
                        </div>
                       <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Tanggal Pendirian (<i>Date of Establishment</i>)</label>
                            <div class="col-sm-6">
                                <input type="date" ng-model="registrationForm.date"
                                    id="date_of_establishment" class="form-control {{isDateInvalid}}"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 form-control-label">Jenis Institusi (<i>Institution
                                Type</i>)</label>
                            <div class="col-md-6">
                                <select id="selectType" name="select" class="form-control {{isInstitutionInvalid}}"
                                    size="1" form="add-new-subscription"
                                    ng-model="registrationForm.institution" placeholder="Please select customer's institution type">
                                    <option ng-repeat="x in listType" value="{{x.id}}">{{x.institutionName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 form-control-label">Bank (<i>Bank</i>)</label>
                            <div class="col-md-6">
                                <select id="selectBank" name="select" class="form-control {{isBankInvalid}}"
                                    size="1" form="add-new-subscription"
                                    ng-model="registrationForm.bank" placeholder="Please select customer's bank">
                                    <option ng-repeat="x in listBank" value="{{x.id}}">{{x.bank}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">No. Rekening Bank (<i>Bank Account Number</i>)</label>
                                
                            <div class="col-sm-6">
                                <input type="text" ng-maxlength="20" pattern="\d{0,20}" title="Only number : maximum 20!" ng-model="registrationForm.banknumber"
                                    id="bank_number" class="form-control {{isBankNumberInvalid}}"
                                    placeholder="Enter institution's bank account number">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions" style="height: 100%; padding: 50px;">
                        <center>
                            <a href="#!/customers"><button type="button" id="cancel" class="btn btn-default"><i class="fa fa-close"> Cancel</i></button></a>
                            <button type="submit" id="create" class="btn btn-primary"
                                ng-click="isFormComplete()" ng-disabled="btnclicked==true"><i class="fa fa-folder" ng-show="btnclicked==false"> Submit</i><i class="fa fa-spin fa-spinner" ng-show="btnclicked==true"></i></button>
                        </center>
                    </div>
                </div>  
            </div>
        </div>
    </form>
</div>
