
<div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  
    <form name="registrationForm">
        <div class="row" ng-app='myApp' ng-controller='registrationCtrl'>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="text-indent: 8px">
                        <strong>Customer Registration</strong>
                    </div>
                    <h1 style="text-indent: 27px">Successful !</h1>
                </div>
                
            </div>
            
    </form>

</div>