<div class="container-fluid animated fadeIn" ng-app"myApp" ng-controller="listCustomerCtrl">
	<div class="alert alert-success" role="alert" style="margin: 30px;">
		<h4 class="alert-heading">Customer Registration Success!</h4>
		<p>Customer data has been added successfully! Click continue to view customer's profile, or back to add more customer!</p>
		
	</div>
	<dir ng-repeat="x in customers | orderBy:id:!reverseSort | limitTo : 1">
		<center>
			<a href="#!/customers/registration">
				<button class="btn btn-secondary">Back</button>
			</a> 
			<a href="#!/customers/info?id={{x.id}}">
				<button class="btn btn-primary">Continue</button>
			</a>

		</center>
	</dir>
</div>