
<div class="animated fadeIn container-fluid" ng-app="myApp" ng-controller="listAppCtrl" >  
    <div class="col-lg-12"> 

      <!-- <div class="card-block" style="margin-bottom:25px; margin-top: 25px;">
          <h3>List Application</h3><hr>
        </div> -->
      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#!">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Application</li>
        </ol>
      </nav>
      
      <div class="card">  
        <div class="card-header">  
          <div class="h5 card-title">
          List Application
            <a href="#!/application/add">
              <button style="float:right!important;margin-right: 10px;"  type="button" class="btn btn-primary" >  
                <i class="fa fa-plus "></i> &nbsp;&nbsp;Add Application</button>  
            </a>
          </div>  
        </div>  
        <div class="card-block"  > 
          <!-- <div class="input-group col-lg-6" style="margin-top: 5px;  margin-bottom:5px;margin-left: -15px;">
            <input id="prependedInput" class="form-control" size="16" type="text" placeholder="Search..." ng-model="FilterName.appName">   
          </div>  -->
          <table class="table table-bordered table-sm" >  
            <thead style="background-color: #f5f5f0">  
              <tr>  
                <th width="5%" style="text-align: center">No</th>  
                <th width="65%" href="#!/application" ng-click="orderByField='x.appName'; reverseSort = !reverseSort" style="text-align: center">
                  Name <span ng-show="orderByField == 'x.appName'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc "></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc "></i></span></span></th> 
                <th width="25%" style="text-align: center">Action</th>  
              </tr>  
            </thead>  
            <tbody>
              <tr ng-repeat="data in listApp | orderBy:orderByField:reverseSort | startFrom: currentPage * pageSize | limitTo: pageSize" >
                <td style="text-align: center">{{$index+ ((currentPage)*pageSize) + 1}}</td>
                <td>{{data.appName}}</td>
                <td>
                  <a href="#!/application/info?id={{data.id}}">
                    <button style="color: white;border: none;" class="btn btn-info"><i class="fa fa-search" ></i> View</button>
                  </a> 
                  <!-- <button style="background-color:orange;color: white;border: none;"  class="btn btn-primary" disabled=""><i class="fa fa-edit"></i> Edit</button></td> -->                           
                </td>
              </tr>  
            </tbody>  
          </table>  
        </div>  
        <div class="card-block" align="center" style="padding: 20px;" ng-hide="numberOfPages()<1">
            <button class="btn btn-sm btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
              <i class="fa fa-chevron-left"></i>
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button class="btn btn-sm btn-primary" ng-disabled="currentPage >= listApp.length/pageSize-1" ng-click="currentPage=currentPage+1">
              <i class="fa fa-chevron-right"></i>
            </button>
            </div>
      </div>  
    </div>
</div>

