<div class="container-fluid" ng-app="app" ng-controller="detailAppId">
  
  <div class="row"></div>
    <div class="col-sm-12">

      <div class="card-block">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!">Home</a></li>
            <li class="breadcrumb-item"><a href="#!/application">Application</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{apps.appName}}</li>
          </ol>
        </nav>
      </div>
      
      <div style="margin-bottom: 20px">
        <i style="font-size: 26px" class="fa fa-home"> {{apps.appName}}</i>
      </div>
      <div class="card" style="margin-right: 15px;">  
              <div class="card-block" style="text-indent: 20px;">
                <div class="row">&nbsp;</div>  
                    <p style="font-size: 20px;">Application Information</p>
                    <div style="border-bottom:1px solid;border-color: lightgrey;"></div>
                    <div style="border-bottom:1px solid;border-color: lightgrey;">
                      <div class="row">
                        <div class="col-sm-6">
                        Name 
                        </div>
                        <div class="col-sm-6">
                        {{apps.appName}}
                        </div>
                      </div>
                    </div>

                    <div style="border-bottom:1px solid;border-color: lightgrey;">
                      <div class="row">
                        <div class="col-sm-6">
                        Timezone
                        </div>
                        <div class="col-sm-6">
                        {{apps.timezoneInfo}}
                        </div>
                      </div>
                    </div>

                    <div style="border-bottom:1px solid;border-color: lightgrey;">
                      <div class="row">
                        <div class="col-sm-6">
                        Tenant Naming Convention
                        </div>
                        <div class="col-sm-6">
                        {{apps.templateName}}
                        </div>
                      </div>
                    </div>

                    <div style="border-bottom:1px solid;border-color: lightgrey;">
                      <div class="row">
                        <div class="col-sm-6">
                        Default Template id
                        </div>
                        <div class="col-sm-6">
                        {{apps.defaultTemplateId}}
                        </div>
                      </div>
                    </div>
                    <div class="row">&nbsp;</div>              
              </div>  
      </div> 
      <div class="row" style="margin-left: 2px;">
        <div class="col-sm-6">
          <div class="card" style="margin-right: 15px;margin-left: -15px;">
                <div class="card-header" style="background-color: grey;color: white;">
                 <i class="fa fa-align-justify"></i> App Package
                </div>  
                <div class="row">&nbsp;</div>  
                  <a >
                          <button style="float:right!important;margin-right: 10px;"  type="button" class="btn btn-primary" >  
                          <i class="fa fa-plus "></i> &nbsp;&nbsp;Add App Package</button>  
                  </a>

                <div class="card-block" style="text-indent: 20px;">
                  <div class="row">&nbsp;</div>  
                  <table class="table table-bordered" style="margin-left: 18px; width: 90%">
                    <tr>
                      <th style="background-color:  #f5f5f0;">Package</th>
                    </tr>
                    <tr ng-repeat="data in apps.appPackageList" >
                      <td>{{data.packageName}}</td>
                    </tr>
                  </table>    
                  <div class="row">&nbsp;</div>              
                </div>  
            </div>
          </div>

        <div class="col-sm-6">
          <div class="card" style="margin-right: 15px;margin-left: -15px;">
                <div class="card-header" style="background-color: grey;color: white;">
                 <i class="fa fa-align-justify"></i> Usage Parameter
                </div>  
                <div class="row">&nbsp;</div>  
                  <a >
                          <button style="float:right!important;margin-right: 10px;"  type="button" class="btn btn-primary" >  
                          <i class="fa fa-plus "></i> &nbsp;&nbsp;Add Usage Parameter</button>  
                  </a>

                <div class="card-block" style="text-indent: 20px;">
                  <div class="row">&nbsp;</div>  
                  <table class="table table-bordered" style="margin-left: 18px; width: 90%">
                    <tr>
                      <th style="background-color:  #f5f5f0;">Parameter</th>
                    </tr>
                    <tr ng-repeat="data in apps.usageParameterList" >
                      <td>{{data.parameter}}</td>
                    </tr>
                  </table>    
                  <div class="row">&nbsp;</div>              
                </div>  
            </div>
          </div>
        </div>

    </div>
</div>

</div>