<div class="container-fluid animated fadeIn"  ng-app="app" ng-controller="AddAppCTRL">  
    <form name="registrationForm" ng-submit="submit">
        <div class="row">
            <div class="col-md-12"  style="margin-left: 20px; padding-right: 50px;">
                
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#!">Home</a></li>
                    <li class="breadcrumb-item"><a href="#!/application">Application</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Application</li>
                  </ol>
                </nav>
                
                 
                <div class="card-block" style="margin-bottom:25px;">
                  <h3>Add Application</h3>
                </div>
                <div class="card" >
                    <div class="card-header" style="text-indent: 8px" >
                        <strong>Application Info</strong> <i style="color: red;">(*All fields below are required)</i>
                    </div>
                    <div class="card-block" style="position: relative; margin: 10px; text-indent: 10px; top: 10px" >

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">App Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {{isNameInvalid}}" ng-model="appName"  placeholder="Input Application Name">
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label" for="name">Template Name</label>
                            <div class="col-sm-6">
                                <input type="text"class="form-control {{isTempInvalid}}" ng-model="templateName" placeholder="Input Template Name on this application">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 form-control-label">Default Template Id</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {{isTempIdInvalid}}" ng-model="defaultTemplateId" id="identifier" placeholder="Master template id (Default 1)" >
                            </div>
                        </div>

                        <div class="form-group row" >
                            <label class="col-sm-5 form-control-label">Timezone</label>
                            <div class="col-sm-6">
                              <select style="height: auto;" ng-model="timezoneId" class="form-control {{isTimezoneInvalid}}" >
                                  <option ng-repeat="data in timezone" value="{{data.id}}">{{data.timezoneInfo}}</option>
                              </select>
                            </div>
                        </div>
                        <div class="form-actions" style="height: 100%; padding: 50px;">
                            <center>
                                <a href="#!/application">
                                <button type="button" id="cancel" class="btn btn-secondary" ><i class="fa fa-close"> Cancel</i></button>
                                </a>
                                <button type="submit" id="create" class="btn btn-primary" ng-click="validation()" ng-disabled="btnclicked==true"><i class=" fa fa-folder" ng-show="btnclicked==false"> Submit</i><i class="fa fa-spin fa-spinner" ng-show="btnclicked==true"> </i></button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
